<h3>login</h3>

<%
    if(typeof message !== 'undefined'){
        %>
           <p style="color: red;"><%=message%></p>
        <%
    }
%>

<form action="" method="POST">
    <input type="email" name="email" placeholder="Enter email"  required>
    <br><br>
    <input type="password" name="password" placeholder="Enter password" required>
    <br><br>
    <input type="submit" value="Login">
</form>
